* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: rgba(241, 69, 69, 0.648);
    padding-left: 20px;
}

.header img {
    width: 100px;
    border-radius: 40%;
    border: 2px solid black;
}

.header h1 {
    position: absolute;
    padding: 30px;
    display: inline-block;
}

.container {
    display: grid;
    grid-template-columns: 15% 1fr;
    height: 120vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.nav {
    background-color: rgba(12, 160, 209, 0.648);
    border: 3px solid black;
    height: 120vh;
}

.nav ul li {
    list-style-type: none;
    padding: 5px;
}

.nav a {
    text-decoration: none
}

.difficulty {
    text-decoration-line: underline;
    font-size: 20px;
}

.credits {
    border-bottom: 3px solid black;
    border-radius: 10%;
    padding: 15px;
}


.content {
    border-bottom: 3px solid black;
    border-radius: 10%;
    padding: 10px;
}

.display-game {
    background-image: url(../Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
    height: 100%;
}

.display-game-grid {
    display: grid;
    grid-template-columns: 33.99% 33.99% 33.99%;
    height: 100%;
}

.center {
    width: 50%;
    margin: auto;
}

.discription {
    background-color: rgba(43, 226, 110, 0.611);
    border: 5px solid black;
    border-radius: 10%;
    text-align: center;
    margin: auto;
    height: auto;
}

.pl h3 {
    margin-left: 20px;
}

.btn {
    width: 50%;
    height: 5vh;
    font-size: medium;
    background-color: #0a0a23;
    margin-bottom: 10px;
    border-radius: 15%;
    cursor: pointer;
}

button:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 5px #5a01a7;
    transition: 0.7s;
    color: white;
}

/* audio playlist */
audio {
    float: right;
    margin: 20px;
    width: 30%;
}

#playlist {
    padding: 15px;
}

#playlist li {
    list-style: none;
}

#playlist li a {
    color: black;
    text-decoration: none;
}

#playlist .current-song a {
    color: blue;
    text-decoration: underline;
}

#playlist .current-song a:hover {
    color: blue;
    text-decoration: underline;
}

.pl {
    border-bottom: 3px solid black;
    border-radius: 10%;
}

/* album-images */
#albumArtContainer {
    position: relative;
    top: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

#albumArtContainer img {
    width: 100%;
    border: 3px solid black;
    border-radius: 10%;
}

/* pointer */
summary {
    cursor: pointer;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    border: 5px solid gray;
    background-color: black;
    width: 100%;
    height: 10vh;
    padding: 30px;
    color: white;
    text-align: center;
}

i {
    margin-top: -5px;
    margin-left: 20px;
    font-size: xx-large;
    cursor: pointer;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
        height: auto;
    }

    .nav {
        width: 100%;
        height: auto;
    }

    .display-game {
        width: 100%;
        height: auto;
    }

    .display-game-grid {
        display: flex;
        grid-template-columns: 100%;

    }

    .btn {
        width: 50%;
        height: 5vh;
        font-size: medium;
        background-color: #0a0a23;
        color: white;
        margin-bottom: 10px;
        border-radius: 15%;
        cursor: pointer;
    }
    
    button:hover {
        outline-color: transparent;
        outline-style:solid;
        box-shadow: 0 0 0 5px #5a01a7;
        transition: 0.7s;
        
    }

    .center {
        width: 80%; 
    }

    .discription {
        width: 80%; 
        margin: auto;
    }

    .btn {
        width: 80%; 
    }

}

@media only screen and (max-width: 480px) {
    .header h1 {
        padding: 10px;
    }

    .nav ul li {
        padding: 3px;
    }

   
}

@media only screen and (min-width: 1200px) {
    
}
